# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Variables privadas
.env

# Django
db.sqlite3
/media/
/.media/
staticfiles/

# IDE
.vscode/
.idea/

# Linux
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid
/.test-media/
